@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default" id="AllProducts">
    <div class="panel-heading">
        <h3>All Products</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody data-bind="template: {name: CurrentTemplate, foreach: Products}"></tbody>
        </table>
    </div>
    <div class="panel-footer">
        <input type="button" value="Add new product" class="btn btn-primary" data-bind="click: $root.add" />
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">          
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this Product?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delete">Delete</button>
                    <button type="button" class="btn btn-default" id="cancel">Cancel</button>                    
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/html" id="readOnlyTemplate">
    <tr>
        <td data-bind="text: Id"></td>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Description"></td>
        <td data-bind="text: formatCurrency(Price)"></td>
        <td data-bind="text: Category"></td>
        <td class="text-center">
            <input type="button" value="Edit" class="btn btn-warning btn-block" data-bind="click: $root.edit" />
        </td>
        <td class="text-center">
            <input type="button" value="Delete" class="btn btn-danger btn-block" data-bind="click: $root.delete" />
        </td>
    </tr>
</script>

<script type="text/html" id="editTemplate">
    <tr>
        <td></td>
        <td><input class="form-control" data-bind="value: $root.Product.Name" /></td>
        <td><input class="form-control" data-bind="value: $root.Product.Description" /></td>
        <td><input class="form-control" data-bind="value: $root.Product.Price" /></td>
        <td><select class="form-control" data-bind="options: $root.Categories, value: $root.Product.Category" /></td>
        <td class="text-center">
            <input type="button" value="Save" class="btn btn-success btn-block" data-bind="click: $root.save" />
        </td>
        <td class="text-center">
            <input type="button" value="Cancel" class="btn btn-default btn-block" data-bind="click: $root.cancel" />
        </td>
    </tr>
</script>


