@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<script src="~/Scripts/product-list.js"></script>

<div data-bind="foreach: productModel.products">
    <div class="well">
        <h3>
            <strong data-bind="text: Name"></strong>
            <span class="pull-right label label-primary"data-bind="text: formatCurrency(Price)"></span>
        </h3>        
        <div class="pull-right">              
            <input type="submit" class="btn btn-success" value="Add to cart" data-bind="click: addToCard" />
        </div>       
        <span class="lead" data-bind="text: Description"></span>
    </div>
</div>

<div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
    </div>
